<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Outfit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>Outfit</h1>
   <div>Forecast for <%=@outfit1.city%> (<%=@outfit1.zipcode%>), <%=@outfit1.region%> <%=@outfit1.country%>.
     <br> <%=@outfit1.condition%> at <%=@outfit1.temperature%> F. <br>
     <br> You are a <%=@outfit1.sex%>, looking for an outfit to wear at (a) <%=@outfit1.occasion%> event.
     <br> You should wear something similar to: <br><br><%=@outfit1.final_outfit%>
   </div>
  </body>
</html>