<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Outfit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>Outfit</h1>
   <div>Forecast for <%=@outfit1.city%> (<%=@outfit1.zipcode%>), <%=@outfit1.region%> <%=@outfit1.country%>.
     <br> <%=@outfit1.condition%> at <%=@outfit1.temperature%> F. <br>
     <br> You are a <%=@outfit1.sex%>, looking for an outfit to wear at (a) <%=@outfit1.occasion%> event.
     <br> You should wear something similar to: <br><br><u><%=@outfit1.final_outfit[:name]%></u><br>
     <br> <%=@outfit1.final_outfit[:outfit].join(" - ")%><br>
     <br> <img src="<%=@outfit1.final_outfit[:image]%>" width="375"><br>
     <br> This outfit can be worn when the temperature low is <%=@outfit1.final_outfit[:temp_low]%> and the temperature high is <%=@outfit1.final_outfit[:temp_high]%>. <br><br>
     <a href="../"><font size="2">Go Back</font></a>
   </div> <br><br>
   <a href="http://www.necessaryclothing.com/clothing-1.html" target="_blank">
<img src="http://www.studentrate.com/Assets/Rad/Images/vendorImages/140395/necessary-Clothing.jpg" width="125" height="125" border="0">
</a>
   <a href="http://www.urbanoutfitters.com/urban/index.jsp?cm_sp=SITE_HEADER-_-HOME-_-index.jsp" target="_blank">
<img src="https://pbs.twimg.com/profile_images/378800000762648952/0631d42a0eba930c822711faecc87c01_400x400.png" width="125" height="125" border="0">
</a>
   <a href="http://www.freepeople.com/" target="_blank">
<img src="http://static1.squarespace.com/static/544ffddae4b0fe51eaa042bf/t/54ab00c9e4b07985e37aed9b/1420493018495/Free+People+logo" width="125" height="125" border="0">
</a>
       <a href="http://www.forever21.com/" target="_blank">
<img src="http://fontmeme.com/images/Forever-21-Logo.gif" width="125" height="125" border="0">
</a>
        <a href="http://www.abercrombie.com/shop/us" target="_blank">
<img src="http://cf.juggle-images.com/matte/white/280x280/abercrombie-and-fitch-1-logo-primary.jpg" width="125" height="125" border="0">
</a><br>
  </body>
</html>