<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Outfit</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>Outfit</h1>
   <div>Forecast for <%=@outfit1.city%> (<%=@outfit1.zipcode%>), <%=@outfit1.region%> <%=@outfit1.country%>.
     <br> <%=@outfit1.condition%> at <%=@outfit1.temperature%> F. <br>
     <br> You are a <%=@outfit1.sex%>, looking for an outfit to wear at (a) <%=@outfit1.occasion%> event.
     <br> You should wear something similar to: <br><br><u><%=@outfit1.final_outfit[:name]%></u><br>
     <br> <%=@outfit1.final_outfit[:outfit].join(" - ")%><br>
     <br> <img src="<%=@outfit1.final_outfit[:image]%>" width="375"><br>
     <br> This outfit can be worn when the temperature low is <%=@outfit1.final_outfit[:temp_low]%> and the temperature high is <%=@outfit1.final_outfit[:temp_high]%>. <br><br>
     <a href="../"><font size="2">Go Back</font></a>
   </div>
  </body>
</html>